<section id="home">
    <div class="banner-container"> 
    <!-- Slider -->
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                <li>
                    <img src="../theme/images/slides/1.jpg" alt="inspiring corporate words" />
                    <div class="flex-caption container">
                        <h3>Flat Design</h3> 
                        <p>Doloribus omnis minus temporibus perferendis.</p> 
                        <a href="/" class="btn btn-theme">Read More</a>
                    </div>
                </li>
                <li>
                    <img src="../theme/images/slides/2.jpg" alt="inspiring corporate words" />
                    <div class="flex-caption container">
                        <h3>Responsive</h3> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi.</p> 
                        <a href="/" class="btn btn-theme">Read More</a>
                    </div>
                </li>
                <li>
                    <img src="../theme/images/slides/3.jpg" alt="inspiring corporate words" />
                    <div class="flex-caption container">
                        <h3>Bootstrap</h3> 
                        <p>Lorem ipsum dolor sit amet, consectetur ersf.</p> 
                        <a href="/" class="btn btn-theme">Read More</a>
                    </div>
                </li>
                </ul>
            </div>
        <!-- end slider -->
    </div>
    <div class="container hero-text2">
    <h3>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat<br/> fabulas complectitur deterruisset at pro</h3>
    </div>
</section>
