<section id="services" class="page-section colord">
    <div class="container">
      <div class="row"> 
        <!-- item -->
        <div class="col-md-3 text-center"><div class="b1"> <i class="circle"><img src="../theme/images/a1.jpg" alt="inspiring corporate image" /></i>
          <h3>Bootstrap</h3>
          <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
        </div></div>
        <!-- end: --> 
        
        <!-- item -->
        <div class="col-md-3 text-center"><div class="b1"><i class="circle"> <img src="../theme/images/a2.jpg" alt="inspiring corporate image" /></i>
          <h3>Designing</h3>
          <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
        </div></div>
        <!-- end: --> 
        
        <!-- item -->
        <div class="col-md-3 text-center"><div class="b1"><i class="circle"> <img src="../theme/images/a3.jpg" alt="inspiring corporate image" /></i>
          <h3>Development</h3>
          <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit impe.</p>
        </div></div>
        <!-- end: --> 
        
        <!-- item -->
        <div class="col-md-3 text-center"><div class="b1"><i class="circle"> <img src="../theme/images/a4.jpg" alt="inspiring corporate image" /></i>
          <h3>Mobile</h3>
          <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet conempus.</p>
        </div></div>
        <!-- end:--> 
      </div>
    </div>
    <!--/.container--> 
  </section>